.clear{
    clear: both;
    zoom: 1;
}
*{
    font-family: 微软雅黑;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
#head{
    width: 100%;
    height: 56px;
    background: url("pics/headbg.gif") #2189bf no-repeat 50px 10px;
}
#head input {
    float: right;
    margin-top: 12px;
    width: 296px;
    height: 26px;
    border-radius: 20px;
    background: url("pics/headSearch.gif") no-repeat 4px #fff;
    text-indent: 2.4em;
}
#head span{
    margin: 20px 94px 0 20px;
    float: right;
    width: 42px;
    background: url("pics/login.gif") no-repeat;
}
#head a{
    font-size: 12px;
    float: right;

}

#side{
    width: 260px;
    background-color: #2a2e3d;
    height: 800px;
    float: left;
}

#side .loginInfo{
    width: 100%;
    height: 150px;
}
.loginInfo .img {
    margin-left: 46px;
    margin-top: 18px;
    height: 56px;
    line-height: 56px;

    background: url("pics/loginInfo.gif") no-repeat;
}

.loginInfo .img a{
    margin-left: 74px;
    font-size: 16px;
    color: #e2e2e2;
}
.loginInfo .following{
    margin-top: 24px;
    margin-left: 64px;
}
.following ul{
    float: left;
    width: 56px;
}
.following ul a:nth-child(1){
    font-size: 16px;
}
.following ul a:nth-child(2){
    font-size: 12px;
}
.following .ul2{
    margin-left: 20px;
    padding-left: 14px;
    border-left: 2px solid #323647;
}
.following li{
    text-align: center;
}
.following a{
    color: #637386;
}
.reportForm{
    width: 100%;
    padding-top: 14px;
    height: 176px;
    background-color: #393e4e;
}
.reportForm span{
    font-size: 12px;
    color: #fff;
    display: block;
    margin-left: 46px;
    text-indent: 1.5em;
    background: url("pics/spanBg.gif") no-repeat 0 2px;

}
.reportForm .ul>li{
    background: url("pics/liBg.gif") no-repeat 22px 6px;
}

.reportForm .ul>li:nth-child(2){
    color: #fff;
    overflow: hidden;
    background: url("pics/liBg2.gif") no-repeat 20px 5px;
}
.ul>li:nth-child(2) li:nth-child(1){
    color: #fff;
}
.reportForm .ul ul:not(.ul2){
    display: none;
}
.reportForm  li{
    padding-left: 40px;
    color: #6e8096;
    margin-top: 12px;
}

ul.list{
    margin-left: 46px;
    color: #6e8095;
    font-size: 12px;
}


ul.list li{
    /*padding-left: 20px;*/
    padding: 18px 20px;
}

.list li:nth-child(1){
    background: url("pics/sideBg.gif") no-repeat 0 22px;
}
.list li:nth-child(2){
    background: url("pics/sideBg.gif") no-repeat 0 -27px;
}
.list li:nth-child(3){
    background: url("pics/sideBg.gif") no-repeat 0 -74px;
}
.list li:nth-child(4){
    background: url("pics/sideBg.gif") no-repeat 0 -74px;
}
.list li:nth-child(5){
    background: url("pics/sideBg.gif") no-repeat 0 -171px;
}







#main{
    margin-left: 260px;
    background-color: #eeedec;
    height: 800px;
}
#main .catalog{
    height: 30px;
    background-color: #fff;
}
.catalog ul{
    margin-left: 10px;
    height: 100%;
    line-height: 30px;
}
.catalog ul li{
    margin-left: 10px;
    float: left;
    font-size: 12px;
    color: #b7b7b7;
}
.catalog .color{
    color: #75a0c6;
}
#main .searcher{
    font-size: 12px;
    width: 888px;
    height: 86px;
    border: 1px solid #dcdee0;
    margin: 20px auto 0 auto;
    background-color: #fff;
}
.searcher li{
    float: left;
    margin-left: 30px;
    margin-top: 16px;
}
.searcher label{
    color: #b7b7b7;
    margin-right: 16px;
}
.searcher select,.searcher input{
    color:#323333;
    height: 24px;

}
.searcher select{
    height: 24px;
    /*border: 1px solid gray;*/
}
.searcher select:nth-child(1){
    width: 100px;
}
.searcher li:nth-child(2) select{
    width: 118px;
}
.searcher li:nth-child(3) select{
    width: 118px;
}
.searcher select[name="persons"]{
    margin-right: 16px;
}
.searcher .top{
    margin-bottom: 5px;
}

.searcher input[type=button]{
    background-color: #388bc2;
    color: #fff;
    margin-top: 16px;
}
#main .price{
    width: 888px;
    height: 64px;
    margin: 8px auto 0 auto;
    font-size: 12px;
}
.price>span{
    display: inline-block;
    width: 28px;
    height: 100%;
    border: 1px solid #d2d4d7;
    cursor: pointer;
    background:url("pics/left.gif") no-repeat #fff 10px 22px;
}
span.rightSpan{
    background: url("pics/right.gif") no-repeat #fff 10px 22px;
    margin-left: 6px;
}

.price .float{
    height: 100%;
    display: inline-block;
    margin-top: -2px;

}
.float li{
    float: left;
    width: 106px;
    height: 100%;
    border: 1px solid #d7d9dc;
    background-color: #ffffff;
    border-top: 2px solid #d7d9dc;
    margin-left: 5px;
}
li.active{
    border-top:2px solid blue;
}
.float li:hover{
    border-top:2px solid blue;

}

.time{
    font-size: 12px;
    color: #323333;
    margin-left: 30px;
    margin-top: 14px;
}

.danjia{
    width: 100%;
    background: url("pics/yuan.gif") 28px 10px no-repeat;
}
.danjia span{
    color: #ec6500;
    font-size: 21px;
    margin-left: 38px;;
}

.history{
    position: relative;
    width: 124px;
    float: right;
    height: 100%;
    line-height: 100%;
    background: url("pics/cal.gif") #ffffff no-repeat 7px 18px;
}
.history span{
    position: absolute;
    left: 46px;
    top: 26px;;
}

.tip{
    color: #323333;
    font-size: 12px;
    margin: 22px auto 0 auto;
    width: 888px;

}

#main .statistics{
    width: 888px;
    height: 72px;
    margin:6px auto 0 auto;
}
.statistics li{
    float: left;
    height: 70px;
    width: 197px;
    border: 1px solid #d3d5d8;
    margin-left: 28px;
    position: relative;
}

.statistics li:nth-child(1){
    border-left: 3px solid #43b29d;
    margin: 0;
}
.statistics li:nth-child(2){
    border-left: 3px solid #388ac1;
}
.statistics li:nth-child(3){
    border-left: 3px solid #d04b36;
}
.statistics li:nth-child(4){
    border-left: 3px solid #e2cd46;
}

.statistics li span.num{
    color: #323333;
    position: absolute;
    display: block;
    left: 9px;
    top: 20px;
}

.statistics li span.amount{
    position: absolute;
    font-size: 10px;
    color: #b7b7b7;
    left: 8px;
    top: 44px;
}

.statistics li span.box{
    position: absolute;
    width: 60px;
    height: 45px;
    background-color: red;
    left: 122px;
    top: 12px;
}
.statistics li:nth-child(1) .box{
    background-color: #43b29d;
}
.statistics li:nth-child(2) .box{
    background-color: #388ac1;
}
.statistics li:nth-child(3) .box{
    background-color: #d04b36;
}
.statistics li:nth-child(4) .box{
    background-color: #e2cd46;
}


.projects{
    width: 888px;
    height: 356px;
    margin: 14px auto 0 auto;
    font-size: 12px;

}
.projects div.project1,.project2{
    float: left;
    border: 1px solid #d0d2d6;
    border-radius: 4px;
    background-color: #fff;


}
.project1{
    width: 530px;
    height: 100%;
}

.project1 p{
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #d0d2d6;
    line-height: 39px;
    color: #aaa;
    text-indent: 4em;
    background-color: #f4f6f7;
}
.project1 ul{
    width: 440px;
    height: 26px;
    margin-left: 20px;
    margin-top: 12px;
}
.project1 li{
    color: #535353;
    float: left;
    text-align: center;
    width: 82px;
    height: 25px;
    line-height: 25px;
    background-color: #f4f6f7;
    margin-right: 4px;
    border: 1px transparent solid;
    border-bottom:none ;
}
.project1 li.active{
    border: 1px solid #cbcbcc;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;

}
.project1 li:hover{
    background-color: #fff;
    border: 1px solid #cbcbcc;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content{
    width: 488px;
    height: 250px;
    margin:0 auto;
    border:1px solid #cbcbcc;

}
.project1 table{
    margin-top: 28px;
    margin-left: 36px;

    border-collapse:collapse;
    border:none;
}
.project1 td{
    color: #595a5b;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border:solid #e1e1e2 1px;
}

.project2{
    width: 346px;
    height: 100%;
    margin-left: 8px;
}